* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

html {
  font-family: 'Overpass', sans-serif;
  font-size: 62.5%;
}
.container {
  font-size: 11px;
  text-align: center;
}
.container a {
  color: hsl(228, 45%, 44%);
}
